<div *ngIf="hero">
    <h2>{{hero.name}} details!</h2>
    <div>
        <div class="form-container">
            <kendo-card>
                <kendo-card-header class="k-hbox">
                    <input
                        [(ngModel)]="hero.name"
                        placeholder="name"
                    />

                </kendo-card-header>
                <img
                    class="image-on-hover"
                    src="{{hero.filePath}}"
                    alt="{{hero.name}}"
                >
            </kendo-card>
        </div>
        <div class="button-container">
            <button
                kendoButton
                (click)="goBack()"
            >Back</button>
            <button
                kendoButton
                (click)="save()"
            >Save</button>
        </div>
    </div>
</div>